.bg-image1 {
  background-color: #000;
  background-size: cover;
  background-image: url("https://mdbcdn.b-cdn.net/img/new/slides/003.webp");
}
.bg-image2 {
  background-color: #000;
  background-size: cover;
  background-image: url("https://mdbootstrap.com/img/Photos/Others/images/76.jpg");
}
.bg-image3 {
  background-color: #000;
  background-size: cover;
  background-image: url("https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp");
}
